
<div class="banner">
  <div class="banner-content">
    <h1>ChefBookr</h1>
    <p>Get the best Gastronomic experience with us</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <form class="form-inline">
      <input class="form-control form-style" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0 search-btn" type="submit">Search</button>
    </form>
  </div>
</div>


<!-- <div class="card">
  <div class="card-description">
    <h2>Gastronomie</h2>
    <p>Best chef</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
  <a class="card-link" href="#" ></a>
</div> -->

<div class="wrapper-card">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-3">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
    </div>
  </div>
</div>

