
<div class="banner">
  <div class="banner-content">
    <h1>ChefBookr</h1>
    <p>Get the best Gastronomic experience with us</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-primary my-2 my-sm-0 search-btn" type="submit">Search</button>
    </form>
  </div>
</div>
