
<div class="banner">
  <div class="banner-content">
    <h1>ChefBookr</h1>
    <p>Get the best Gastronomic experience with us</p>
    <!-- <a class="btn btn-primary btn-lg">Start now</a> -->
    <form class="form-inline">
      <input class="form-control form-style" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary my-2 my-sm-0 search-btn" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="wrapper-card">
  <h2 class="text-center">Our Chefs</h2>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="cocktail-card">
          <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/cricri87">
          </div>
      </div>
    </div>
  </div>
</div>

