.wrapper-card {
  width: 100vw;
  height: auto;
  background-color: lightgray;
  padding-top: 20px;
}


.cocktail-card {
  margin: 15px 0px;
  text-align: center;
  height: 250px;
  color: #fff;
  background-image: asset-url('banner3.jpeg');
  background-color: #fff;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-user {
  position: absolute;
  // right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}


