.user-name {
  padding-left: 30px;
}
.user-bookings {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px
}
.user-reviews {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}
.user-dashboard-list {
  padding-left: 0px;
  margin-top: 0;
  list-style: none;
}
